@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #faf4f4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #63a5e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 200px 0;
}
.banner-sec{background: url(https://media.istockphoto.com/id/1692415035/photo/scientists-are-testing-new-drugs-in-the-lab-to-test-some-emerging-diseases-in-research-and.jpg?s=612x612&w=0&k=20&c=Z6rn1XdW0x6147hqP4azROikO-cXUbxWY42YxEsPzHs=)  no-repeat left bottom; background-size:cover; min-height:40px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #40699c;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#6fb6dd; margin-top:20px;  margin-left:auto;margin-right:auto}
.btn-login{background: #0789da; color:#fff; cursor: pointer;  }
.btn-login:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
